# Folders
/build
/dist
/discloud
/deprecated
/node_modules
/src/database/prisma
# Files
/.env
/.env.dev
/.env.development

# Config files
/firebase.json

# Extensions
*.zip
*.sqlite
*.sql
*.exe
*.db
*.development.json